<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
    <div class="register-form">
        <h1>Formulario de Registro</h1>
        <form action="register" method="POST">
            <label for="user">Ingrese su correo electronico</label>
            <input type="text" name="correo" required>

            <label for="user">Ingrese Su  Completo</label>
            <input type="text" name="nombre" required>

            <label for="celular">Ingrese Numero de Celular </label><br>
             <input type="number" name="celular" class="miinput" required><br>

            <label for="comuna">Comuna</label>
            <select name="comuna" id="comuna" class="select-css">
                <option>Comuna 1</option>
                <option>Comuna 2</option>
                <option>Comuna 3</option>
                <option>Comuna 4</option>
                <option>Comuna 5</option>
                <option>Comuna 6</option>
                <option>Comuna 7</option>
                <option>Comuna 8</option>
                <option>Comuna 9</option>
                <option>Comuna 10</option>
                <option>Comuna 11</option>
                <option>Comuna 12</option>
            </select><br>
            <label for="direccion">Ingrese Su Direccion</label>
            <input type="text" name="direccion" required> <br>

            <label for="nacimiento">Fecha de Nacimiento</label>
            <input type="date" name="nacimiento" class="nacimiento"> <br><br>

            <label for="pass">Password</label>
            <input type="password" name="pass" required>

            <div style="display: inline;">
                <a href="/" class="btn-cancel">Cancel</a><input type="submit" class="btn-save" value="Save">
            </div>
        </form>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <% if(typeof alert != "undefined") { %> 
         <script>
             Swal.fire({
                 title: '<%= alertTitle %>',
                 text: '<%= alertMessage %>',
                 icon: '<%= alertIcon %>',
                 showConfirmButton: '<%= showConfirmButton %>',
                 timer: '<%= timer %>'
             }).then( () => {
                 window.location= '/<%=ruta%>'
             })
         </script>
     <% } %>

</body>
</html>